#grid {
    display: none; /* Initially hidden */
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    gap: 5px;
    margin-top: 20px;
    background: #666;
    padding: 10px;
    border-radius: 10px;
}

.path {
    background-color: yellow !important; /* Highlight path better */
}
